body, header {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
}

footer{
    margin-top: 50px;
    margin-right: 50px;
}

/* -------------------NAVBAR---------------------- */

.navbar{
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    display: inline-block;
    font-size: 17px;
    padding: 30px;
    color: aqua;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* -------------------FOOTER---------------------- */

footer{
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.a_propos{
    display: inline-block;
    font-size: 17px;
    padding: 30px;
    color: aqua;
    text-decoration: none;
}

.a_propos:hover{
    background-color: #ddd;
    color: black;
}

/* -------------------HOME PAGE---------------------- */

.Home_page{
    background-color: black;
    padding-top: 50px;
}

.finpagehome{
    margin-bottom: 50px;
}

.text a{
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;
    background-color: rgba(22, 136, 98, 0.563);
}

p{
    border: 5px double rgb(91, 223, 164);
    margin: 30px;
    padding: 10px;
}

.form{
    margin-bottom: 100px;
}

/* -------------------PERSPECTIVE PAGE---------------------- */

.POINT{
    border: 2px solid black;
    padding: 6px;
    padding-left: 100px;
    padding-right: 100px;
}

/* ---------------------ABOUT US PAGE-------------------- */

.Joseph{
    border: 2px solid black;
    margin-top: 50px;
    padding-top: 30px;
    box-shadow: 0px 0px 15px #333;
    border-radius: 30px;
}

.JosephBDE{
    float: left;
    padding-left: 30px;
    margin-top: 20px;
}

.JosephTitle, .JosephText{
    text-align: left;
    padding-left: 300px;
    padding-top: 15px;
}

.JosephText{
    margin-bottom: 115px;
}

.Arthur{
    border: 2px solid black;
    margin-top: 50px;
    padding-top: 30px;
    box-shadow: 0px 0px 15px #333;
    border-radius: 30px;
}

.ArthurBDE{
    float: right;
    padding-right: 30px;
}

.ArthurTitle, .ArthurText{
    text-align: right;
    padding-right: 300px;
    padding-top: 15px;
}

.ArthurText{
    margin-bottom: 115px;
}

.Giuliano{
    border: 2px solid black;
    margin-top: 50px;
    padding-top: 30px;
    box-shadow: 0px 0px 15px #333;
    border-radius: 30px;
}

.GiulianoBDE{
    float: left;
    padding-left: 30px;
}

.GiulianoTitle, .GiulianoText{
    text-align: left;
    padding-left: 300px;
    padding-top: 15px;
}

.GiulianoText{
    margin-bottom: 115px;
}
